
.card {
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.2); 
    border: none;
    transition: box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: blur(3px) grayscale(100%);
}


.card:hover {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
    filter: blur(0px) grayscale(0%);
}

.card-title {
    color: white;
}

.card-img-top {
    height: 250px;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}


.card:hover .card-img-top {
    opacity: 1; 
}
.card-button-box{
    position: relative;
    top: 25px;
}


.container:hover .card:not(:hover) {
    filter: blur(3px) grayscale(80%); 
}

.btn-learn {
    background-color: rgba(247, 255, 2, 0.2);
    color: white;
    border: 1px solid rgba(255, 254, 254, 0.5); 
    padding: 10px 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-learn:hover {
    background-color: rgba(255, 254, 254, 0.4); 
    color: black; 
}

.btn-likes {
    background-color: rgb(250, 142, 142); 
    color: white;
    border: 1px solid rgba(255, 254, 254, 0.5);
    width: 110px; 
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-likes:hover {
    background-color: rgba(255, 254, 254, 0.4); 
    color: black;
}




