body {
    position: relative;
    width: 100%;
    background-color: black;
    margin: 0;
}
.title {
    text-align: center;
    font-size: 4rem;
}

.btn-navigate {
    color: aliceblue;
    border: 1px solid white;
    opacity: 0.85;
}

.btn-navigate:hover {
    background-color: aliceblue;
    opacity: 0.45;
    box-shadow: -5px 7px 5px 5px white;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 5;
}

.carousel-control-prev {
    left: 0; 
}

.carousel-control-next {
    right: 0; 
}

.navbar-logo {
    max-width: 150px; 
    height: auto; 
    position: absolute; 
    left: 50%;
    top: 10px;
    transform: translateX(-50%); 
    border-radius: 15px; 
    padding: 5px; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); 
    transition: all 0.3s ease-in-out; 
}

.navbar-logo:hover {
    max-width: 180px; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); 
}
 .navbar{
    height: 100px;
    background-color: black;
 }


.btn-favoritos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    margin-top: 20px; 
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    border: none; 
}

.modal-header {
    border-bottom: none; 
}

.modal-footer {
    border-top: none; 
}

.btn-close {
    filter: invert(1); 
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.6);
    color: white; 
    border: none; 
}

.list-group-item a {
    color: white; 
}

.list-group-item a:hover {
    color: #cccccc; 
}

.btn-outline-danger {
    color: white; 
    border-color: white; 
}

.btn-outline-danger:hover {
    background-color: red; 
    border-color: red; 
    color: white; 
}

