body {
    position: relative;
    width: 100%;
    background-color: black;
}

.navbar-logo {
    width: 50%;
    height: 50%;
}

.list-card {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
}

.list-card>div {
    flex: 0 0 auto;
    margin-right: 10px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.dropdown {
    position: absolute;
    right: 120px;
    bottom: 10px;

}
